<launch>
    <arg name="wip_model" />

    <!-- 将机器人模型加载到参数服务器当中 -->
    <param 
    name="robot_description" 
    command="$(find xacro)/xacro $(find basic_lqr_pkg)/xacro/robot_lqr.xacro" />



  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz" 
    args="-d $(find basic_lqr_pkg)/cfg/rvizcfg.rviz" />

</launch>


